#Présentation de **Python**

#Titre 1

##Titre 2

###Titre 3

**Gras**

Hello World

Majuscule (touche Shift) + Entrée => Valider le bloc de texte / code et passer au suivant

In [ ]:
print("Hello World !")

Hello World !

#Data Type: **String** -> Chaîne de caractères

In [1]:
"Je suis Dimitri"

'Je suis Dimitri'

In [ ]:
'Je suis Dimitri'

Attention : si dans le texte à saisir il y a une apostrophe, il vaut mieux utiliser les double quotes pour éviter le bug.

In [ ]:
print('J'y suis')

SyntaxError: ignored

In [ ]:
print("J'y suis")

J'y suis

Affectation à une variable

In [ ]:
#Pour écrire un commentaire dans du code, # puis on écrit le commentaire
#Création d'une variable et affectation d'une valeur
bjr = "Wassup homies"
print(bjr)
#Nomenclature pour nommer les variables : avec des "_" entre les mots, jamais d'espace

Wassup homies

In [ ]:
#Concaténation de 2 chaines de caractères
print("B","A")

B A

#Data Type : **Integer** (nombre entier)

In [ ]:
a = 5
print(a)

5

In [ ]:
#Addition
print(a+5)

10

In [ ]:
#Soustraction
print(a-10)

-5

In [ ]:
#Multiplication
print(a*2)

10

In [ ]:
#Division
print(a/2)

2.5

In [2]:
int()

0

#Data Type : **Float** (nombre à virgule)

In [ ]:
#Soit b un nombre à Virgule flottant -> Float
b = a / 2
print(b)

2.5

In [ ]:
a = 30.428
round(a, 2)

30.43

#Data Type : **Liste**

In [ ]:
user_data = ["Dimitri", 29, "Paris", "Hardworker"]

In [ ]:
print(user_data)

['Dimitri', 29, 'Paris', 'Hardworker']

In [ ]:
#Accéder à un élément d'une liste : utilisation des index
#Accès au prénom
print(user_data[0])

Dimitri

In [ ]:
#Accéder à un élément d'une liste : utilisation des index
#Accès au métier
print(user_data[3])

Hardworker

#Data Type : **Dictionnaire** = ensemble d'associations clés / valeurs

In [4]:
user_infos={"Nom":"Dimitri",
            "Âge":29,
            "Ville":"Paris",
            "Job":"Data Analyst"}

In [5]:
print(user_infos["Nom"])

Dimitri

In [6]:
#Afficher toutes les clés d'un dictionnaire
print(user_infos.keys())

dict_keys(['Nom', 'Âge', 'Ville', 'Job'])

In [ ]:
#Afficher toutes les valeurs d'un dictionnaire
print(user_infos.values())

dict_values(['Dimitri', 29, 'Paris', 'Data Analyst'])

In [ ]:
#Affichage de toutes les variables créées
%whos

Variable     Type     Data/Info
-------------------------------
a            int      5
b            float    2.5
bjr          str      Wassup homies
user_data    list     n=4
user_infos   dict     n=4

#Data Type : **Booléen**

In [ ]:
#Les Booléens ne prennent que 2 valeurs : True ou False
value_1 = True
value_2 = False

print(value_1)

True

In [ ]:
j = 10
float(j)

10.0

#Data Type : **Tuple**

In [ ]:
tuple_1 = (1, 2, 3)
print(tuple_1)

(1, 2, 3)